#main{
	padding:15px 5px;
	background-color:#fff;
	height:600px;
}

#left{
	float:left;
	border-right:solid 1px #eee;
	width:780px;
}
.article_list{
        background:#eee;
        width:378px;
        height:288px;
        float:left;
        margin:5px;
        border:solid 1px #ddd;
}
.article_list p:first-child{
        margin:10px 0;
        background-color:#333;
        height:30px;
        width:80px;
        text-align:center;
}
.article_list p:first-child:hover{
        background-color:#D14836;
}
.article_list p:first-child a{
        font-size:14px;
        line-height:30px;
        color:#fff;
}
.article_list ul + p{
        text-align:right;
        height:20px;
        padding:5px 10px 5px 0;
        margin:0;
}
.article_list ul + p a{
        font-size:12px;
        color:#777;
        line-height:20px;
}
.article_list ul + p a:hover{
        color:#D14836;
}
.article_list ul{
        margin:0;
        padding:0;
        list-style-type:none;
        height:210px;
}
.article_list li{
        font-size:14px;
        line-height:30px;
        padding-left:20px;
        color:#333;
}
.article_list li:hover{
        background-color:#D14836;
        padding-left:25px;
        color:#fff;
}

#right{
	float:left;
	width:199px;
	padding:5px;
}
#right img{
	height:100px;
	width:199px;
	background-color:#000;
}
#right p{
	line-height:20px;
	margin:5px 10px;
	max-height:76px;
	overflow:hidden;
}

.teacher_info{
	height:290px;
}
.teacher_info a{
	width:60px;
	height:24px;
	display:block;
	background:#333;
	color:#fff;
	float:right;
	text-align:center;
	line-height:24px;
}
.teacher_info a:hover{
	background:#d14836;
}

.sep{
	border-top:dashed 1px #eee;
	margin-bottom:10px;
}
