.right{margin-top:50px;margin-left:20px;float:left;height:1280px;display:none;}
.right a{display:block;font-size:14px;color:#777;height:18px;}
.right span{height:24px;width:800px;display:block;float:left;font-size:14px;color:#777;}

.hidden{width:800px;float:left;display:none;}
.hidden input{margin:0 10px;}

ul{margin:0;padding:0;margin-top:40px;margin-left:20px;}
ul hr{border-top:1px dashed #777;border-bottom:0;margin-right:40px;}
li{display:block;height:20px;}
li input{display:block;float:left;margin:0;height:20px;margin-right:20px;}
li a{display:block;float:left;height:18px;width:100px;padding-top:2px;overflow:hidden;text-align:center;}
.apply_box{margin-left:20px;height:30px;width:100px;float:left;border:solid 1px #777;background:#fff;color:#777;clear:both;margin-top:20px;}
.apply_box:hover{background:#eee;color:#000;}

p{margin:0;font-size:16px;padding-top:20px;padding-bottom:10px;}

#other_box p{margin:0;font-size:26px;padding:30px 0;}

.input_box{border:solid 1px #777;color:#777;width:198px;height:20px;}
.input_box:focus{color:#000;}
.file_box{width:400px;height:24px;color:#777;}
.text_box{margin-left:20px;width:400px;display:block;float:left;}
.textarea_box{margin-left:20px;width:800px;display:block;float:left;}
.submit_box{float:left;margin-left:20px;height:30px;width:100px;border:solid 1px #777;background:#fff;color:#777;clear:both;margin-top:20px;}
.submit_box:hover{background:#eee;color:#000;}
.table_box{margin-left:20px;width:800px;display:block;float:left;}
.table_box_inner input{width:158px;height:20px;border:solid 1px #777;float:left;color:#777;text-align:center;margin-right:-1px;margin-bottom:-1px;}
.table_box .add{display:block;float:left;margin-top:4px;}

textarea{height:160px;width:700px;resize:none;border:solid 1px #777;color:#777;}
textarea:focus{color:#000;}
select{width:200px;height:24px;background:#fff;border:solid 1px #777;color:#777;}
select:focus{color:#000;}
