#left{
    width:10%;
    background:#323847;
    position:fixed;
    left:0;
    top:0;
}
#left .item{
    height:100px;
    width:128px;
    color:#fff;
    text-align:center;
}
#right{
    width:90%;
    margin-left:10%;
    height:100px;
}
